<h1>SPI語彙力アゲッター改</h1>
<h2>Login Page</h2>
<%= flash[:notice] %>
<%= form_tag(:action => "login") do  %>
  <div class="login_form">
    <%= label :user, :account_name %>
    <%= text_field :user, :account_name, {:size => 25} %><br />
    <%= label :user, :password %>
    <%= password_field :user, :password, {:size => 25} %>
  </div>
  <%= submit_tag "login" %>
<% end %>

<br />
<%= link_to 'ランキング', { controller: 'top', action: 'ranking' } %><br />
<%= link_to 'アカウント作成', { controller: 'users', action: 'new' } %>
